body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    margin: 0;
    padding: 0;
}

#chat {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#message_input {
    padding: 10px;
    width: 200px;
}

#messages {
    padding: 20px;
    height: 90vh;
    overflow-y: scroll;
}
