<!DOCTYPE html>
<html>
<head>
    <title>Crying Room</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var ws = new WebSocket('ws://' + window.location.host + '/cry_room');
            ws.onmessage = function(message) {
                var data = JSON.parse(message.data);
                document.getElementById('cryersCount').innerText = data.cryers_count;
            };

            // Send a message to the server (this can be triggered by some user action)
            ws.onopen = function() {
                ws.send("User joined the room");
            };
        });
    </script>
</head>
<body>
    <h1>Welcome to the Crying Room</h1>
    <p>Current Cryers: <span id="cryersCount">0</span></p>
</body>
</html>
